<%- include('../partials/header') %>

<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page"><%- category[0].category %></h2>
	<nav>
	<ol class="breadcrumb text-white">
	    <li class="breadcrumb-item"><a href="/">Home</a></li>
	    <li class="breadcrumb-item active" aria-current="page"><%- category[0].category %></li>
	</ol>  
	</nav>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<aside class="col-md-3">

	</aside> <!-- col.// -->
	<main class="col-md-12">
<% products.data.forEach( product => { %>

<article class="card card-product-list">
	<div class="row no-gutters">
		<aside class="col-md-3">
			<a href="#" class="img-wrap"><img src="/images/items/2.jpg"></a>
		</aside> <!-- col.// -->
		<div class="col-md-6">
			<div class="info-main">
				<a href="#" class="h5 title"> <%= product.name %>  </a>
				<div class="rating-wrap mb-3">
					<ul class="rating-stars">
						<li style="width:80%" class="stars-active"> 
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> 
						</li>
						<li>
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> <i class="fa fa-star"></i> 
							<i class="fa fa-star"></i> 
						</li>
					</ul>
					<div class="label-rating">7/10</div>
				</div> <!-- rating-wrap.// -->
				
				<p> <%= product.description %> </p>
			</div> <!-- info-main.// -->
		</div> <!-- col.// -->
		<aside class="col-sm-3">
			<div class="info-aside">
				<div class="price-wrap">
					<span class="price h5"> $56 </span>	
					<del class="price-old"> $85</del>
				</div> <!-- info-price-detail // -->
				<p class="text-success">Free shipping</p>
				<br>
				<p>
					<a href="/produto/<%- product.id %>/slug" class="btn btn-primary btn-block"> Details </a>
					<a href="#" class="btn btn-light btn-block"><i class="fa fa-heart"></i> 
						<span class="text">Add to wishlist</span></a>
				</p>
			</div> <!-- info-aside.// -->
		</aside> <!-- col.// -->
	</div> <!-- row.// -->
</article> <!-- card-product .// -->

<% }) %>
	<nav aria-label="Mais produtos">
		<ul class="pagination justify-content-center">
		<% if(products.pagination.currentPage > 0){ %>
			<li class="page-item">
				<a class="page-link" href="?pageSize=<%- products.pagination.pageSize %>&currentPage=<%- products.pagination - 1 %>" tabindex="-1" aria-disabled="true">Anterior</a>
			</li>
		<% } %>
		<% for(let i=0; i<products.pagination.totalPages; i++){ %>
			<li class="page-item"><a class="page-link" href="?pageSize=<%- products.pagination.pageSize %>&currentPage=<%- i %>"><%= i+1 %></a></li>
		<% } %>
		<% if(products.pagination.totalPages - 1 > products.pagination.currentPage){ %>
			<li class="page-item">
				<a class="page-link" href="?pageSize=<%- products.pagination.pageSize %>&currentPage=<%- products.pagination.currentPage + 1 %>">Próxima</a>
			</li>
		<% } %>
		</ul>
		
	</nav>
	</main> <!-- col.// -->

</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<%- include('../partials/footer') %>